// Color palette
$green: #00D19C;
$blue: #20A0FF;
$lightblue: #58B7FF;
$purple: #AE8FE5;
$orange: #FBA254;
$red: #F75B60;
$navy: #333;
$gray: #666;
$darkgray: #999;
$lightgray: #bbb;
$white: #FFF;
$darkblue: #1D8CE0 !default;
$dark: #DFDFDF !default;
$yellow: #fba254 !default;


$color-primary: $blue;
$color-link: $blue;