@import './_color.scss';

html, body {
  height: 100%;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: $color-link;
}

.pull-right {
  float: right;
  &:after {
    content: "";
    clear: both;
  }
}